<a href="https://colab.research.google.com/github/AngieB1988/Supervised-Learning-Homework/blob/main/Credit_Risk_Evaluator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# Import the data
train_df = pd.read_csv(Path('/lending_data.csv'))
test_df = pd.read_csv(Path('/lending_data.csv'))
train_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [5]:
train_df.columns

Index(['loan_size', 'interest_rate', 'borrower_income', 'debt_to_income',
       'num_of_accounts', 'derogatory_marks', 'total_debt', 'loan_status'],
      dtype='object')

In [7]:
train_df = pd.get_dummies(train_df, drop_first = True)

In [8]:
# Split the data into X_train, X_test, y_train, y_test
X_train = train_df.drop(columns=['debt_to_income'])
y_train = train_df['total_debt'].values.ravel()

In [ ]:
# Train a Logistic Regression model print the model score
logistic_model = LogisticRegression(max_iter = 15000, random_state=5).fit(X_train,y_train)
print("Logistic Regression score: ", logistic_model.score(X_test, y_test))

In [ ]:
# Train a Random Forest Classifier model and print the model score
random_model = RandomForestClassifier(n_estimators=50, random_state = 5).fit(X_train,y_train)
print("Random Forest Classifier score: ", random_model.score(X_test, y_test))